<img src="assets/images/loading.gif" class="marT10" ng-if="pageLoading">
<div class="table table-md no-pointer" ng-if="!pageLoading">
  <div class="row th">
    <a href="" ng-click="columnSortFx('l', (auth.sort.invm.val == 'a' ? 'd' : 'a'), oList, 'invm'); activeColumnFx('model');">
      <div class="col-xs-4 text-primary text-bold display-flex">Model
        <div class="marL10" ng-if="activeCol == 'model' && !saveProcessing">
          <span ng-if="auth.sort.invm.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          <span ng-if="auth.sort.invm.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
    <a href="" ng-click="columnSortFx('t', (auth.sort.invm.val == 'a' ? 'd' : 'a'), oList, 'invm'); activeColumnFx('type');">
      <div class="col-xs-4 text-primary text-bold display-flex">Type
        <div class="marL10" ng-if="activeCol == 'type' && !saveProcessing">
          <span ng-if="auth.sort.invm.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          <span ng-if="auth.sort.invm.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
  </div>
  <div class="row" ng-repeat="item in filteredItemList = (oList | customSearch:{key:(search.text | removeSpaces), module:'i'})">
    <div class="col-xs-4">
      <a href="" class="text-primary" ng-click="modelOpen(item);">
        <div class="text-bold">{{item.label}}</div>
      </a>
    </div>
    <div class="col-xs-4">
      <div class="text-bold">{{item.typeLabel}}</div>
    </div>
    <div class="col-xs-4 text-right">
      <a href="" class="text-danger" ng-click="deleteOpen('m', item.id);" uib-tooltip="{{'cm.btn.12' | translate}}" tooltip-popup-delay="1000"><i class="fas fa-times"></i></a>
    </div>
  </div>
  <div class="msg-warning" ng-if="oList.length && !filteredItemList.length" translate="{{'cm.msg.14'}}" translate-values="{searchText: '<b>&quot;{{search.text.replace(searchRegExp, searchReplaceChar)}}&quot;</b>'}"></div>
  <div class="msg-warning" ng-if="!oList.length" translate="{{'i.msg.26'}}"></div>
</div>
