<section class="panel">
  <div class="panel-heading pad15">{{curSelectedAgent?'t.label.6.1':'t.label.6' | translate}}</div>
  <div class="panel-body">
    <img src="assets/images/loading.gif" ng-if="popupLoading">
    <div class="table" ng-if="!popupLoading">
      <div class="row th">
        <div class="col-xs-8">{{'t.label.2' | translate}}</div>
        <div class="col-xs-4">{{'cm.label.2' | translate}}</div>
      </div>
      <div class="scrollQuad" style="max-height:{{getAvailableHeight(470)}}px">
        <div class="row" ng-repeat="agent in agentList">
          <div class="col-xs-8 word-break"><label class="text-unbold"><input type="radio" name="agents" value="1" ng-model="agent.isAssign" ng-checked="agent.isAssign" ng-change="isAssignFx(agent)"><label></label>{{agent.label}}</label></div>
          <div class="col-xs-4 word-break">{{agent.email}}</div>
        </div>
      </div>
    </div>
    <div class="form-group marT15" ng-if="!popupLoading">
      <label>{{'cm.label.22' | translate}}</label>
      <textarea class="form-control" placeholder="{{'cm.ph.2' | translate}}" ng-model="fwd.comment"></textarea>
    </div>
  </div>
  <footer class="panel-footer">
    <span class="btnQuad">
      <button type="button" class="btn btn-success" ng-click="forwardFx();" ng-disabled="popupProcessing"><span class="fas" ng-class="popupProcessing?'fa-redo fa-spin':'fa-check'"></span>{{'t.btn.2' | translate}}</button>
      <button type="button" class="btn btn-link" ng-click="closeThisDialog();">{{'cm.btn.8' | translate}}</button>
    </span>
    <div class="errMsg pull-right" ng-if="hasErrPop">
      <span ng-if="errType == 'empty'">{{'t.msg.10' | translate}}</span>
      <span ng-if="errType == 'same'">{{'t.msg.18' | translate}}</span>
    </div>
    <div class="clearfix"></div>
  </footer>
</section>
