<section class="panel">
  <div class="panel-heading">{{"t.pop.16" | translate}}</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <label><input type="checkbox" ng-model="dateTimeObj.dueDateOpt"><label></label>{{"t.pop.15" | translate}}</label>
      </div>
      <div class="col-xs-6" ng-if="dateTimeObj.dueDateOpt">
        <div class="input-group">
          <span class="input-group-addon"><span class="fas fa-calendar-alt"></span></span>
          <input type="daterange" class="form-control picker" ng-model="dateTimeObj.dueDate" format="MM/DD/YYYY" min-date="{{minDate}}" singleDatePicker="true" readonly="">
        </div>
      </div>
      <div class="col-xs-6 timepicker" ng-if="dateTimeObj.dueDateOpt">
        <span uib-dropdown auto-close="outsideClick">
          <div class="input-group">
            <span class="input-group-addon"><span class="far fa-clock"></span></span>
            <input type="text" class="form-control picker" uib-dropdown-toggle ng-value="dateTimeObj.dueTime | date:'shortTime'" placeholder="HH:mm" readonly="">
          </div>
          <div class="dropdown-menu" uib-dropdown-menu>
            <div uib-timepicker ng-model="dateTimeObj.dueTime" hour-step="1" minute-step="5"></div>
          </div>
        </span>
      </div>
    </div>
  </div>
  <footer class="panel-footer">
    <span class="btnQuad">
      <button type="button" class="btn btn-success" ng-click="dueDateTimeFx();" ng-disabled="popupProcessing"><span class="fas" ng-class="popupProcessing?'fa-redo fa-spin':'fa-check'"></span>{{popupProcessing?"cm.btn.14i":"cm.btn.14" | translate}}</button>
      <button type="button" class="btn btn-link" ng-click="closeThisDialog();">{{"cm.btn.8" | translate}}</button>
    </span>
    <div class="clearfix"></div>
  </footer>
</section>
