<div class="panel-body noPad">
  <div class="table table-md">
    <ul class="checkList">
      <div class="row th">
        <a href="" ng-click="columnSortFx('l', (auth.sort.t.val == 'a' ? 'd' : 'a'), ticketList, 't'); activeColumnFx('label');">
          <div class="col-xs-3 text-primary text-bold display-flex">Created by
            <div class="marL10" ng-if="activeCol == 'label' && !saveProcessing">
              <span ng-if="auth.sort.t.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
              <span ng-if="auth.sort.t.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </a>

        <a href="" ng-click="columnSortFx('s', (auth.sort.t.val == 'a' ? 'd' : 'a'), ticketList, 't'); activeColumnFx('sub');">
          <div ng-class="(curState == 'support.tickets.o' || curState == 'support.tickets.n')?'col-xs-7':'col-xs-5'" class="text-primary text-bold display-flex">Subject
            <div class="marL10" ng-if="activeCol == 'sub' && !saveProcessing">
              <span ng-if="auth.sort.t.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
              <span ng-if="auth.sort.t.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </a>

        <a href="" ng-if="curState != 'support.tickets.o' && curState != 'support.tickets.n'" ng-click="columnSortFx('a', (auth.sort.t.val == 'a' ? 'd' : 'a'), ticketList, 't'); activeColumnFx('assigned');">
          <div class="col-xs-2 text-primary text-bold display-flex">Assigned to
            <div class="marL10" ng-if="activeCol == 'assigned' && !saveProcessing">
              <span ng-if="auth.sort.t.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
              <span ng-if="auth.sort.t.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </a>

        <a href="" ng-if="curState != 'support.tickets.r'" ng-click="columnSortFx('u', (auth.sort.t.val == 'a' ? 'd' : 'a'), ticketList, 't'); activeColumnFx('updated');">
          <div class="col-xs-2 text-primary text-right text-bold">Updated on
            <div class="pull-right marL10" ng-if="activeCol == 'updated' && !saveProcessing">
              <span ng-if="auth.sort.t.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
              <span ng-if="auth.sort.t.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </a>

        <a href="" ng-if="curState == 'support.tickets.r'" ng-click="columnSortFx('c', (auth.sort.t.val == 'a' ? 'd' : 'a'), ticketList, 't'); activeColumnFx('created');">
          <div class="col-xs-2 text-primary text-right text-bold">Created on
            <div class="pull-right marL10" ng-if="activeCol == 'created' && !saveProcessing">
              <span ng-if="auth.sort.t.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
              <span ng-if="auth.sort.t.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            </div>
          </div>
        </a>

      </div>
      <!-- <li class="row" ng-repeat="ticket in filteredTicketList = (ticketList | customSearch:{key:(search.text | removeSpaces), module:'t'})" ui-sref="support.tDetails({id: hubEncrypt(ticket.thid)})" data-id="{{ticket.thid}}"
        ng-class="{'text-bold':!ticket.read, 'row-danger':curState != 'support.tickets.r' && curState != 'support.tickets.n' && ticket.dueDate && ticket.dueDate < curDate, 'row-danger-new':curState != 'support.tickets.r' && curState != 'support.tickets.n' && ticket.dueDate && curDate == ticket.dueDate || (ticket.dueDate <= beforeDate && ticket.dueDate > curDate)}"> -->
      <!-- <li class="row" ng-repeat="ticket in filteredTicketList = (ticketList | customSearch:{key:(search.text | removeSpaces), module:'t'})" ui-sref="support.tDetails({id: hubEncrypt(ticket.thid)})" data-id="{{ticket.thid}}"
        ng-class="{'text-bold':!ticket.read, 'row-reply':curState != 'support.tickets.r' && curState != 'support.tickets.n' && ticket.dueDateTime && ticket.dueDateTime <= futureTimestamp}"> -->
      <li class="row" ng-repeat="ticket in filteredTicketList = (ticketList | customSearch:{key:(search.text | removeSpaces), module:'t'})" ui-sref="support.tDetails({id: hubEncrypt(ticket.thid)})" data-id="{{ticket.thid}}"
        ng-class="{'text-bold':!ticket.read, 'row-reply':ticket.warn==1, 'row-danger':(ticket.warn==2 || ticket.warn==3)}">
        <div class="col-xs-3 text-ellipsis">
          <label class="noMarB hide" ng-if="curState !== 'support.dashboard'" ng-click="$event.stopPropagation();"><input type="checkbox" ng-click="checkboxFx();" ng-model="ticket.isChecked"><label></label></label><span><i class="fas text-muted marR10" ng-class="ticket.type==0?'fa-ticket-alt':'fa-tasks'" style="opacity:0.5" uib-tooltip="{{ticket.type==0?'t.btn.12':'t.btn.13' | translate}}" tooltip-append-to-body="true" tooltip-popup-delay="1000"></i></span><i class="fas fa-hourglass-end marR10 text-danger" ng-if="ticket.warn == 3"></i>{{ticket.label}} <span class="text-muted text-sm" ng-if="ticket.count > 1">({{ticket.count}})</span>
        </div>
        <!-- <div class="col-xs-7 text-ellipsis" ng-if="auth.role != 0">
          <span ng-repeat="label in ticket.labels" ng-if="ticket.labels.length" class="label-item text-sm marR2" style="background-color:{{label.bg}};color:{{label.color}}">{{label.label}}</span>
          <span ng-if="ticket.sub !== ''">{{ticket.sub}}</span>
          <span ng-if="ticket.sub == ''" class="text-muted text-sm">{{'t.label.15' | translate}}</span>
        </div> -->
        <div class="text-ellipsis" ng-class="(curState == 'support.tickets.o' || curState == 'support.tickets.n')?'col-xs-7':'col-xs-5'">
          <span ng-repeat="label in ticket.labels" ng-if="ticket.labels.length" class="label-item text-sm marR2" style="background-color:{{label.bg}};color:{{label.color}}">{{label.label}}</span>
          <span ng-if="ticket.sub !== ''">{{ticket.sub}}</span>
          <span ng-if="ticket.sub == ''" class="text-muted text-sm">{{'t.label.15' | translate}}</span>
        </div>
        <div class="col-xs-2 text-ellipsis text-sm text-muted" ng-if="curState != 'support.tickets.o' && curState != 'support.tickets.n'">{{ticket.to}}</div>
        <!-- <div class="col-xs-2 text-ellipsis">#{{ticket.tid}}</div> -->
        <div class="col-xs-2 text-ellipsis text-right text-sm text-muted" ng-if="curState != 'support.tickets.r'">{{ticket.date |  date:getDateFormat(ticket.date, 'date')}}</div>
        <div class="col-xs-2 text-ellipsis text-right text-sm text-muted" ng-if="curState == 'support.tickets.r'">{{ticket.createdOn |  date:getDateFormat(ticket.createdOn, 'md')}} - {{ticket.resolvedOn |  date:getDateFormat(ticket.resolvedOn, 'md')}}</div>
        <!-- <span ng-if="curState === 'support.tickets.n'">{{ticket.createdOn |  date:'MMM dd, yyyy h:mm a'}}</span>
        <span ng-if="curState === 'support.tickets.o'">{{ticket.openedOn | date:'MMM dd, yyyy h:mm a'}}</span>
        <span ng-if="curState === 'support.tickets.r'">{{ticket.resolvedOn | date:'MMM dd, yyyy h:mm a'}}</span>
        <span ng-if="curState === 'support.dashboard' || curState === 'support.tickets.a'">{{ticket.assignedOn | date:'MMM dd, yyyy h:mm a'}}</span> -->
      </li>
    </ul>
  </div>
  <div class="msg-warning" ng-if="filteredTicketList.length == 0" translate="{{'cm.msg.14'}}" translate-values="{searchText: '<b>&quot;{{search.text.replace(searchRegExp, searchReplaceChar)}}&quot;</b>'}"></div>
  <div class="msg-warning" ng-if="filteredTicketList.length > 0 && filterCount == 0">{{'cm.msg.15' | translate}} <button class="btn btn-default btn-xs" ng-click="filterFx('all');">{{'cm.btn.31' | translate}}</button></div>
</div>
