<section class="panel">
  <div class="panel-heading pad15">
    <span>{{(!modelObj.id) ? 'i.btn.10' : 'i.btn.11' | translate}}</span>
  </div>
  <div class="panel-body scrollQuad" style="max-height:{{getAvailableHeight(310)}}px">
    <img src="assets/images/loading.gif" ng-if="popupLoading">
    <!-- other device -->
    <!-- <div class="form-group" ng-if="curTab=='others'">
      <label class="noMarB"><input type="radio" name="addOpt" value="t" ng-model="modelObj.opt" ng-click="resetTypeModelFx();"><label></label>{{'cm.label.4' | translate}}</label>
      <label class="marL5 noMarB"><input type="radio" name="addOpt" value="m" ng-model="modelObj.opt" ng-click="resetTypeModelFx();"><label></label>{{'i.label.3' | translate}}</label>
    </div> -->

    <!-- <div class="form-group" ng-if="modelObj.opt=='t'">
      <label>{{'cm.label.4' | translate}}</label>
      <input type="text" class="form-control" ng-model="modelObj.type" focus-me="true">
    </div> -->
    <div class="form-group" ng-if="!modelObj.id">
      <label>{{'cm.label.4' | translate}}</label>
      <select class="form-control" ng-options="item.label for item in items track by item.id" ng-model="modelObj.type" focus-me="true">
        <option value="">{{"i.msg.7" | translate}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{'i.label.3' | translate}}</label>
      <input type="text" class="form-control" ng-model="modelObj.model">
    </div>
  </div>
  <footer class="panel-footer">
    <span class="btnQuad">
      <button type="button" class="btn btn-success" ng-click="addModelFx();" ng-disabled="popupProcessing">
        <span class="fas" ng-class="popupProcessing?'fa-redo fa-spin':'fa-check'"></span>
        <span ng-if="modelObj.id">{{popupProcessing?'cm.btn.14i':'cm.btn.14' | translate}}</span>
        <span ng-if="!modelObj.id">{{popupProcessing?'cm.btn.18i':'cm.btn.18' | translate}}</span>
      </button>
      <!-- <button ng-if="modelObj.id" type="button" class="btn btn-success" ng-click="addModelFx();" ng-disabled="popupProcessing"><span class="fas" ng-class="popupProcessing?'fa-redo fa-spin':'fa-check'"></span>{{popupProcessing?'cm.btn.18i':'cm.btn.18' | translate}}</button> -->
      <button type="button" class="btn btn-link" ng-click="closeThisDialog(); resetTypeModelFx();">{{'cm.btn.8' | translate}}</button>
    </span>
    <div class="errMsg pull-right" ng-if="hasErrPop">
      <span ng-if="errType == 'eType'">{{'i.msg.32' | translate}}</span>
      <span ng-if="errType == 'eModel'">{{'i.msg.33' | translate}}</span>
      <span ng-if="errType == 'sType'">{{'i.msg.34' | translate}}</span>
      <span ng-if="errType == 'sModel'">{{'i.msg.35' | translate}}</span>
    </div>
    <div class="clearfix"></div>
  </footer>
</section>
