<img src="assets/images/loading.gif" class="marT10" ng-if="pageLoading">
<div class="table table-md no-pointer" ng-if="!pageLoading">
  <div class="row th">
    <a href="" ng-click="columnSortFx('i', (auth.sort.ord.val == 'a' ? 'd' : 'a'), odList, 'ord'); activeColumnFx('odId');">
      <div class="col-xs-4 text-primary text-bold display-flex">Order Id
        <div class="marL10" ng-if="activeCol == 'odId' && !saveProcessing">
          <span ng-if="auth.sort.ord.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          <span ng-if="auth.sort.ord.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>

    <a href="" ng-click="columnSortFx('cr', (auth.sort.ord.val == 'a' ? 'd' : 'a'), odList, 'ord'); activeColumnFx('createdBy');">
      <div class="col-xs-4 text-primary text-bold display-flex">Created By
        <div class="marL10" ng-if="activeCol == 'createdBy' && !saveProcessing">
          <span ng-if="auth.sort.ord.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          <span ng-if="auth.sort.ord.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>

    <a href="" ng-click="columnSortFx('clos', (auth.sort.ord.val == 'a' ? 'd' : 'a'), odList, 'ord'); activeColumnFx('closed');">
      <div class="col-xs-4 text-primary text-bold display-flex">Closed By
        <div class="marL10" ng-if="activeCol == 'closed' && !saveProcessing">
          <span ng-if="auth.sort.ord.val === 'd'"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          <span ng-if="auth.sort.ord.val === 'a'"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
  </div>
  <div class="row" ng-repeat="item in orderItemList = (odList | customSearch:{key:(search.text | removeSpaces), module:'od'})">
    <div class="col-xs-4">
      <a href="" ui-sref="support.order.detail({types:'cl', id: hubEncrypt(item.id)})" class="text-primary"><!--  ng-click="displayDetail('cm', item.id)" -->
        <div class="text-bold">LSORD-{{item.id}}</div>
      </a>
      <div class="text-muted text-sm">{{item.name}}</div>
    </div>
    <div class="col-xs-4"><div class="text-bold text-sm"><a class="text-light-black text-dec-none" uib-tooltip="{{'od.label.14' | translate}}" tooltip-append-to-body="true" tooltip-placement="top">{{item.createdBy.label}}</a></div><div class="text-muted text-sm">{{getToday(item.createdAt)?('od.label.23' | translate):''}} {{item.createdAt | date:getDateFormat(item.createdAt, 'oDT')}}</div></div>
    <div class="col-xs-4"><div class="text-bold text-sm"><a class="text-light-black text-dec-none" uib-tooltip="{{'od.label.56' | translate}}" tooltip-append-to-body="true" tooltip-placement="top">{{item.closedBy.label}}</a></div><div class="text-muted text-sm">{{getToday(item.closedOn)?('od.label.23' | translate):''}} {{item.closedOn | date:getDateFormat(item.closedOn, 'oDT')}}</div></div>
  </div>
  <div class="msg-warning" ng-if="odList.length && !orderItemList.length && !curOdFilter.apply" translate="{{'cm.msg.14'}}" translate-values="{searchText: '<b>&quot;{{search.text.replace(searchRegExp, searchReplaceChar)}}&quot;</b>'}"></div>
  <div class="msg-warning" ng-if="!odList.length && !curOdFilter.apply" translate="{{'od.msg.4'}}"></div>
  <div class="msg-warning" ng-if="!odList.length && curOdFilter.apply" translate="{{'cm.msg.39'}}"></div>
</div>
